*__pycache__/*
*.DS_Store*
*.ipynb_checkpoints/*
/nyc/data/*
/nyc/data_clean/*

/chicago/data/*.csv
/chicago/data/*.zip
/chicago/data_clean/*.csv
*.png
*/stan_output/*

*__pycache__/*
*.pyc

/nyc/impact_analysis/plots/*
/nyc/impact_analysis/old_analyses/*
/nyc/impact_analysis/__pycache__/*
